<div class="container">
  <div class="heading">
    <h1>WebDev News</h1>
    <span>Current time: {{currentDate}}</span>
  </div>

  <div class="search-bar"><input type="text" [(ngModel)]="searchTerm" placeholder="Search for posts..." /></div>
  <div class="posts-container">
    @for (post of posts; track $index) {
      <app-single-post
      class="post" 
      [title]='post.title' 
      [imageUrl]="post.imageUrl" 
      [summary]="post.summary | textTruncate : 80"
      [date]="post.date"
      (click)="selectUnselectPost(post.id)"
      [isSelected]="selectedPosts.indexOf(post.id)>-1"
      />
    }@empty {
      <p>There is no posts matching the search query. Please try a different query.</p>
    }
  </div>

  <div class="selected-posts">
    <h2>Selected {{selectedPosts.length}}</h2>
  </div>
</div>
